@import url('https://fonts.googleapis.com/css?family=Bitter');
html, body {
  height: 100%;
}

/*  */

#wrapper > h1 {
  margin: 126px 0px 8px 0px;
}
#nav-icon {
  width: 26px;
  height: 19px;
  margin: 40px 24px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
#nav-icon span:nth-child(2) {
  top: 8px;
  transform-origin: left center;
}
#nav-icon span:nth-child(3) {
  top: 16px;
  transform-origin: left center;
}
#nav-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -2px;
  left: 0px;
}
#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 16px;
  left: 0px;
}
.fullscreen-nav {
  padding-top: 40px;
  height: 100%;
  width: 100%;
  background: #F15A29;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  opacity: 0;
  transition: 0.25s;
}
.fullscreen-nav.open {
  opacity: 1;
}
.main-menu {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
  list-style: none;
  left: 0;
  right: 0;
  top: 20%;
}
.nav-link {
  padding: 20px 0px;
  font-size: 48px;
  border-bottom: 1px solid #95a5a6;
  font-weight: 700;
   transition:.5s;
}
.nav-link:hover {
  color: #c0392b;
}


/*  */

.cover {
  background-image: url('../img/backgrounds/landing.jpg');
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
}
.logoContainer{
  margin-left: 40%;
}
.logo {
  background-image: url('../img/logoBig.png');
  background-repeat: no-repeat;
  padding-left: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}

.landingtext {
  color: #fff;
  font-size: 30px;
  padding-left: 30%;
  margin-top: 30%;
  text-align: center;
  font-family: 'Bitter', serif;
}

.burger {
  width: 55px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}
.toptext {
  font-family: 'Bitter', serif;
  color: #fff;
  font-size: 30px;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  font-style: italic;
}

.images p {
  /* HACK:  margin-bottom:20%*/
  text-align: center;
  margin-bottom: 20%;
}

.images {
  padding: 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: .8s ease;
  background: #fff;
}

.images:hover {
  opacity: 0.6;
}

.images:hover p {
  color: black;
  opacity: 1;
}

.foodtop-container {
  /* padding: 0;
height: inherit; */
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.offerings {
  padding: 0;
}

.happyhour {
  font-size: 30px;
  height: 50%;
  text-align: center;
  font-family: 'Bitter', serif;
  background-color: #edeeef;
}

.partytime {
  font-family: 'Bitter', serif;
  height: 50%;
  font-size: 25px;
  background-color: #F15A29;
  text-align: center;
  color: #edeeef;
}

.texttop {
  padding-top: 10%;
}

.imgHorizontal {
  padding: 5%;
  display: flex;
}

.border {
  box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.75);
  position: absolute;
  margin-left: 26%;
  margin-top: 5%;
}

.combine {
  box-sizing: border-box;
  border: 5px;
  max-width: 0%;
  padding: 0;
}

.lorem {
  margin-top: 8%;
  margin-right: 20%;
}

.foodcont {
  margin-top: 5%;
  margin-left: 12%;
  margin-right: 10%;
  background-color: #fff;
}

.fast1 {
  padding: 0;
}

.food {
  margin-top: 6%;
  width: 70%;
}

.rightarrow {
  background: #fff;
  border: 1px solid #F15A29;
  padding: 2%;
  width: 40%;
  font-weight: bold;
  color: #F15A29;
}

.glyphicon-arrow-right {
  color: #F15A29;
}

.drinks {
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 26%;
  width: 70%;
  text-align: right;
}

.drinkscont {
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 10%;
  background-color: #fff;
}

.foods {
  background-image: url('../img/backgrounds/foodsBg.jpg');
  background-size: cover;
  height: 100%;
}

.container {
  margin-top: 10%;
  max-width: 100%;
  background: #fff;
  color: #000;
}

.tabsContent {
  display: flex;
}

.customers {
  border-left: 1px solid black;
  padding: 10px;
  margin: 2%;
}

.text-customers {
  text-align: center;
  color: #F15A29;
}

.text-customers p {
  color: #000;
}

.customers p {
  margin-left: 30px;
  font-family: 'Bitter', serif;
}

.thumbnail {
  max-width: 100%;
}

.contactBackground {
  background-image: url('../img/backgrounds/subscribe.jpg');
  background-size: cover;
  height: 100%;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  color: #F15A29;
}

.bartop {
  background: ;
  height: 15%;
  margin: 0;
  font-family: 'Bitter', serif;
  background: #dbdbdb;
}

.fastfoodContainer {
  padding: 0;
}

.controller {
  width: 2%;
  text-shadow: none;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 10%);

}

.select a {
  color: #F15A29;
}

#carousel {
  padding: 0;
  margin: 0;
}

.slidecustomers {
  margin: 2%;
  padding-bottom: 4%;
}

.subscribe {
  background-image: url('../img/backgrounds/subscribe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.subButton {
  background: #F15A29;
  width: 30%;
}

.sizer {
  width: 500px;
}

.subform {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 35%;
  color: #fff;
  font-family: 'Bitter', serif;
}

#email {
  width: 60%;
  color: black;
  opacity: 0.6;
}

#email placeholder {
  opacity: 1;
}

.footerBack {
  background: #F15A29;
}

#footerContent {
  font-family: 'Bitter', serif;
  color: #fff;
  width: 60%;
  font-size: 1.8em;
  padding-top: 4%;
  padding-left: 40%;
  text-align: justify;
  display: flex-wrap;
}

.socialIcons {
  font-size: 1.5em;
  text-align: justify;
}

.logo_footer {
  float: left;
}

.menuFooter {
  margin-left: 8%;
  font-size: 1.9em;
}

.year p {
  font-size: .5em;
  text-align: justify;
  width: 100%;
}
.carousel{
margin-bottom: 50px;
padding-left: 200px;
padding-right: 200px;
}
.carousel-control{
left:-12px;
height: 0px;
width: 40px;
/*background: none repeat scroll 0 0 #222222;*/
border: 4px solid white;
border-radius: 23px 23px 23px 23px;
margin-top: 0px;
padding-left: 23px;
color: #F5581B
;
}
.carousel-control.right{
right: 100px;
}
.carousel-indicators{
right: 40%;
top: auto;
bottom: -40px;
margin-right:-50px;
}
.carousel-indicators li{
background:red;
}
.carousel-indicators .active{
background:green;
}
.carousel-inner{
    padding-right: 2px;
}
.navs{
    width: 80%;
    float: none;
    margin: 40px auto;
}
.bg{
    background-image: url("../img/assets/backgrounds/foodsBg.jpg");
    padding: 50px;
}
.tabs-part .navs{
    background:#fff;
    padding: 30px;
}
.nav-tabs > li > a{
    background: #cfcece;
;
    padding: 20px 40px;
    border-radius: 0;
}
.nav-tabs > li{
    width: 25%;
}
.nav-tabs{
    margin-bottom: 10px;
}
.fastFoodText{
  color: #F15A29;
  font-family: 'Bitter', serif;
}
#activeTab {
  color: #F15A29;
  text-align: center;
  font-family: 'Bitter', serif;

}
#tab{
  color: #404142;
  text-align: center;
  font-family: 'Bitter', serif;

}
/* Media Queries */

@media (max-width: 480px) {
  .happyhour {
    display: flex;
  }
  .logo {
    padding-left: 17%;
    padding-top: 45%;
  }
  .landingtext {
    padding-left: 1%;
    padding-top: 90%;
  }
}
